.destaques{
    display: grid;
    grid-template-columns: 45% 30% auto;
    grid-template-rows: 40% 40% 40%;
    height: 107vh;
    padding: 15px;
    gap: 0.5rem;

    margin-top: 1rem;
    margin-bottom: 14rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.destaques div{
    padding: 20px;
}

.destaques__titulo{
    height: 8vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;

    margin-bottom: -1.250rem;
    margin-left: -1.3rem;
}

.destaques__principal_caixa .destaques__titulo{
    width: 104.3%;
}

.caixa:nth-child(5) .destaques__titulo{
    width: 111.5%;
}

.caixa:nth-child(4) .destaques__titulo , .destaques__principal_caixa+ .caixa .destaques__titulo , .caixa:nth-child(3) .destaques__titulo{
    width: 115%;
}

.destaques__titulo > p{
    margin-top: 1rem;
}

.destaques__principal_caixa{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;

    background-image:  url('../img/fortnite.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    align-items: end;
}

.caixa{
    display: grid;
    align-items: end;
}

.caixa:nth-child(2){
    background-image: url('../img/pubg.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.caixa:nth-child(3){
    background: url('../img/slack.png') ;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.caixa:nth-child(4){
    grid-row: 3;
    grid-column: 3;
    background: url('../img/whatsapp.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.caixa:nth-child(5){
    background: url('../img/cs-go.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.destaques__categorias{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    margin: -1.3rem;
}

.destaques__categorias___lista{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 0.2rem;
}

.destaques__categorias___item{
    text-align: center;
    border: 2px solid rgba(177, 177, 177, 0.397);
}

.destaques__categorias___link{
    text-decoration: none;
    box-shadow: none;
    color: #282929;
}