.menu__link{
    font-size: 1.390rem;
    text-decoration: none;
    box-shadow: none;
    color: black;
}

.menu__link:hover{
     border-bottom: 3px solid blue;
}

.menu__item{
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    gap: 1.4rem;
    margin-top: 1rem;
    margin-left: 1.840rem;
}