@media (max-width: 650px) {
    .menu__item{
        display: flex;
        justify-content: center;
        margin-left: 20%;
    }
    .populares__conteudo , .populares__card:nth-child(1) .populares__card___imagem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .populares__titulo , .populares__botao{
        font-size: 10px;
    }
    .populares__card___imagem{
        width: 20rem;
        height: 11rem;
    }

    .populares__card___corpo div{
        width: 20rem;
    }

    .populares__card___descricao{
        margin-bottom: 1rem;
    }

    .rodape{
        height: 1rem;
        font-size: 12px;
    }

}